<nav class="navbar is-fixed-top" aria-label="dropdown navigation">
    <a class="navbar-item">
    <a href="index"><img src="https://i.imgur.com/SZLoCjp.png" alt="Global Logo" width="112" height="28">
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">DJSkins</a>
    <div class="navbar-dropdown">
        <a class="navbar-item" href="daytrade">Day Trade</a>
        <a class="navbar-item" href="perfil">Minha Conta</a>
        <hr class="navbar-divider">
        <div class="navbar-item">Beta 0.1</div>
    </div>
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
        <a href="gerenciador-carteira">Carteira: R${{saldo}}</a>
    </div>
    <div class="navbar-item">
        <img src="" id='avatar' alt="Avatar">
    </div>
    <div class="navbar-item">
        <div class="buttons">
            <a class="navbar-end button is-dark is-outlined" href="/logout">
            <span class="icon">
                <i class="fas fa-door-open"></i>
            </span>
            <span>Logout</span>
            </a>
        </div>
        </div>
    </div>
</nav>

<section class="hero is-danger">
    <div class="hero-body">
    <div class="container">
        <h1 class="title">Lista de skins de: {{user}}</h1>
    </div>
    </div>
</section>

{{{popUp}}}

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxofoda">
            <p class="title">Inventário Steam</p>
            {{#each steamList}}
                <p class="subtitle">{{this}}</p>
                <hr>
            {{/each}}
            </article>
        </div>
        </div>
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxomedio">
            <p class="title">Armas trocáveis</p>
            {{#each tradableList}}
                <figure>
                    <img src={{lookup ../skinImages @index}}>	
                    <figcaption>{{this}}</figcaption>
                </figure>
                <button class="button is-success" onclick="depositarSkin('{{this}}')">Depositar Skin</button>
                <hr>
            {{/each}}
            </article>
        </div>
        </div>
    </div>
    </div>
    <div class="tile is-parent is-vertical">
    <div class="tile is-parent">
        <article class="tile is-child notification is-roxoclaro">
        <div id="fontebranca">
            <p class="title">Inventário DJSkins</p>
            {{#each djsList}}
                <figure>
                    <img src={{lookup ../djsImages @index}}>	
                    <figcaption>{{this}} - R${{lookup ../skinsPrice @index}}</figcaption>
                </figure>
                {{#if (lookup ../investimentoList @index)}}
                    <button disabled class="button is-success" title="Esta Skin está em um investimento">Enviar para Steam</button>
                    <button disabled class="button is-primary" title="Esta Skin já está investida">Investir</button>
                {{else}}
                    <button class="button is-success" onclick="retirarSkin('{{this}}')">Enviar para Steam</button>
                    <button class="button is-primary" onclick="investirSkin('{{this}}')">Investir</button>
                {{/if}}
                <hr>
            {{/each}}
        </div>
        </article>
    </div>
    </div>
</div>
<script>
    function depositarSkin(skinName){
        document.location.href = "/depositar?skin="+skinName;
    }

    function retirarSkin(skinName){
        document.location.href = "/retirar?skin="+skinName;
    }

    function investirSkin(skinName){
        document.location.href = "/investir?skin="+skinName;
    }
</script>