<nav class="navbar is-fixed-top" aria-label="dropdown navigation">
    <a class="navbar-item">
    <a href="index"><img src="https://i.imgur.com/SZLoCjp.png" alt="Global Logo" width="112" height="28">
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">DJSkins</a>
    <div class="navbar-dropdown">
        <a class="navbar-item" href="daytrade">Day Trade</a>
        <a class="navbar-item" href="fairtrade">Fair Trade</a>
        <a class="navbar-item" href="perfil">Minha Conta</a>
        <a class="navbar-item">Configurações</a>
        <hr class="navbar-divider">
        <div class="navbar-item">Beta 0.1</div>
    </div>
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
        <img src="" id='avatar' alt="Avatar">
    </div>
    <div class="navbar-item">
        <div class="buttons">
            <a class="navbar-end button is-dark is-outlined" href="/logout">
            <span class="icon">
                <i class="fas fa-door-open"></i>
            </span>
            <span>Logout</span>
            </a>
        </div>
        </div>
    </div>
</nav>

<section class="hero is-danger">
    <div class="hero-body">
    <div class="container">
        <h1 class="title">Lista de skins de: {{user}}</h1>
    </div>
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
    <div class="tile">
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxofoda">
            <p class="title">Inventário Steam</p>
            {{#each steamList}}
                <p class="subtitle">{{this}}</p>
            {{/each}}
            </article>
        </div>
        </div>
        <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <article class="tile is-child notification is-roxomedio">
            <p class="title">Armas trocáveis</p>
            {{#each tradableList}}
                <figure>
                    <img src={{lookup ../skinImages @index}}>	
                    <figcaption>{{this}}</figcaption>
                </figure>
                <button name="depositar {{@index}}" class="button is-success">Depositar Skin</button>
            {{/each}}
            </article>
        </div>
        </div>
    </div>
    </div>
    <div class="tile is-parent is-vertical">
    <div class="tile is-parent">
        <article class="tile is-child notification is-roxoclaro">
        <div id="fontebranca">
            <p class="title">Inventário DJSkins</p>
        </div>
        </article>
    </div>
    </div>
</div>